streamlit==1.46.1
yfinance==0.2.64
pandas==2.3.0
numpy==1.26.4
talib==0.6.4
colorama==0.4.6
arch==7.2.0
scipy==1.16.0
matplotlib==3.10.3
gunicorn==23.0.0
gevent==24.10.2
xgboost==3.0.2
shap==0.48.0
scikit-learn==1.5.2